/* import font popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* style all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* style section */
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background: #161616;
  transition: 0.5s;
}
.banner.night {
  background: #fff;
}
/* end style section */
/* style banner background image */
.banner::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 10%;
  width: 120px;
  height: 120px;
  background: url(asset/dotted.png);
  background-size: cover;
  animation: animateColor 10s linear infinite;
  transition-delay: -5s;
}
/* end style banner background image */

/* style content */
.content {
  position: relative;
  max-width: 700px;
  z-index: 10;
}
.content h3 {
  font-size: 2em;
  color: #fff;
  font-weight: 200;
  transition: 0.5s;
}
.content h2 {
  font-size: 5.5em;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}
.content h2 span {
  color: rgba(0, 114, 54, 255);
}
.content p {
  font-size: 1.2em;
  color: #fff;
  margin: 10px 0;
  transition: 0.5s;
}
/* end style content */
/* style button */
.content button {
  position: relative;
  background: rgba(0, 114, 54, 255);
  color: #fff;
  outline: none;
  border: none;
  padding: 8px 20px;
  font-size: 1.05em;
  letter-spacing: 0.05em;
  margin-right: 20px;
  border-radius: 40px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}
.content button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
/* end style button */

/* style button medsos */
.medsos {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
}
.medsos img{
  width: 30px;
}
/* end style button medsos */
/* style theme dark */
.dayNight {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #292323;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2em;
}
.banner.night .dayNight {
  background: #f0f0f0;
  color: #666;
}
.dayNight ion-icon:nth-child(2),
.banner.night .dayNight ion-icon:nth-child(1) {
  display: none;
}
.banner.night .dayNight ion-icon:nth-child(2) {
  display: block;
}
.banner.night header .Logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night header ul li a {
  color: #444;
}
.banner.night .sci li a:hover {
  color: rgba(0, 114, 54, 255);
}
/* end style theme dark */
/* style image colors */
.colors {
  position: absolute;
  right: 0;
  max-width: 600px;
  animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}
/* end style image colors */
/* style image men */
.men {
  position: absolute;
  right: 30px;
  bottom: 0;
  max-width: 90vh;
  animation: animateMen 8s ease-in-out infinite;
}
@keyframes animateMen {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-45px);
  }
}
/* end style image men */

/* for responsive */
@media (max-width: 991px) {
  .banner {
    padding: 40px;
  }
  .content {
    margin-bottom: 200px;
  }
  .content h3 {
    font-size: 1.8em;
  }
  .content h2 {
    font-size: 4em;
  }
  .content p {
    font-size: 1em;
  }
  .content button {
    font-size: 0.95em;
    margin-top: 10px;
  }
  .sci {
    bottom: 25px;
    gap: 15px;
  }
  .sci li a {
    font-size: 1.7em;
  }
  .dayNight {
    bottom: 25px;
    left: 86%;
    width: 60px;
    height: 60px;
  }
  .colors {
    bottom: 100px;
    max-width: 400px;
  }
  .men {
    position: absolute;
    right: 2px;
    bottom: 0;
    max-width: 50vh;
  }
}
@media (max-width: 320px) {
  .banner {
    padding: 20px;
  }
  .content {
    margin-bottom: 160px;
  }
  .content h3 {
    font-size: 1.5em;
  }
  .content h2 {
    font-size: 2em;
  }
  .content p {
    font-size: 12px;
  }
  .content button {
    font-size: 0.8em;
    margin-top: 10px;
  }
  .sci {
    bottom: 25px;
    gap: 15px;
  }
  .sci li a {
    font-size: 1.5em;
  }
  .dayNight {
    bottom: 25px;
    left: 86%;
    width: 50px;
    height: 50px;
  }
  .colors {
    bottom: 100px;
    max-width: 400px;
  }
  .men {
    position: absolute;
    right: 2px;
    bottom: 0;
    max-width: 60vh;
    /* height: 45vh; */
  }
}
