/* import font popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* style all */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* style section */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 114, 54, 255);
  transition: 0.5s;
}
/* style header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 90px;
  display: flex;
  gap: 20px;
  align-items: center;
}
header .logo {
  max-width: 100px;
  position: relative;
}
header h2 {
  color: #fff;
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}
/* end style header */
/* style content */
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* style content textbox */
.content .textBox {
  position: relative;
  max-width: 600px;
  z-index: 10;
}
.content .textBox h2 {
  color: #fff;
  font-size: 2.7em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textBox p {
  color: #fff;
}
/* end style content textbox */
/* style content image box */
.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 20px;
  justify-content: flex-end;
  z-index: 3;
}
.content .imgBox img {
  max-width: 290px;
}
/* end style content image box */
/* style slider */
.thumb {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 0.05em;
  background: #111;
  padding: 12px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.thumb li:hover {
  transform: translateY(-15px) translateX(10px);
}
/* end style slider */
/* style image in button profile */
.textBox .profile a {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
}
.profile a img {
  border-radius: 20px;
  width: 35px;
  height: 35px;
}
/* end style image in button profile */
/* style modal profile */
#card {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 999;
}
#card .card-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 20px;
  background: #eee;
  border-radius: 10px;
}
#card .card-content h2 {
  margin-top: 20px;
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}
#card .card-content h2 span {
  font-size: 0.7em;
  font-weight: 400;
  text-transform: initial;
}
.imgBx {
  position: relative;
  left: 19%;
  max-width: 220px;
  height: 220px;
  margin-top: 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 5px solid #fff;
  margin-bottom: 20px;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 10px;
  width: 200px;
  height: 200px;
  /* object-fit: cover; */
}
#card .card-content h3 {
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.15em;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.profile #card a.close {
  position: absolute;
  width: 50px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background: none;
  color: #111;
}
.profile #card button {
  text-align: center;
  border: none;
}
.profile #card button a {
  background: #fff;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 150%;
  transition: 0.5s;
  margin-top: 10px;
}
.profile #card button a:hover {
  transform: translateX(5%) translateY(-8%);
}
/* end style modal profile */

/* for responsive */
@media (max-width: 991px) {
  section {
    padding: 40px;
    padding-bottom: 170px;
  }
  header {
    padding: 20px 30px;
    gap: 10px;
    justify-content: center;
  }
  header .logo {
    max-width: 70px;
  }
  header h2 {
    font-size: 1.3em;
  }
  .content {
    flex-direction: column;
    margin-top: 90px;
  }
  .content .textBox {
    position: relative;
    min-width: 100%;
    padding-right: 20px;
  }
  .content .textBox h2 {
    font-size: 2em;
  }
  .content .textBox p {
    font-size: 14px;
  }
  .content .textBox a {
    padding: 8px 15px;
  }
  .content .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 20px;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 200px;
  }
  .thumb {
    position: absolute;
    left: 50%;
    bottom: -80px;
  }
  .thumb li {
    margin: 0 10px;
  }
  .thumb li p {
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.05em;
  }
  .thumb li:hover {
    transform: translateY(-12px) translateX(8px);
  }
  #buttton {
    display: flex;
    align-items: center;
  }
  #buttton .buy1 .div a {
    width: 120px;
    padding: 20px 15px;
    font-size: 0.5em;
  }
  #buttton .profile a {
    padding: 20px 10px;
    font-size: 0.5em;
  }
  .profile a img {
    border-radius: 20px;
    width: 22px;
    height: 22px;
  }
  #card .card-content {
    width: 320px;
  }
  #card .card-content h2 {
    margin-top: 40px;
    font-size: 1.2em;
  }
  #card .card-content h2 span {
    font-size: 0.6em;
  }
  .imgBx {
    left: 21%;
    width: 160px;
    height: 180px;
    margin-top: 15px;
  }
  .imgBx img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 160px;
  }
  #card .card-content h3 {
    font-size: 1.05em;
  }
  .profile #card a.close {
    width: 40px;
    font-size: 18px;
  }
  .profile #card button a {
    left: 170%;
    margin-top: 10px;
  }
  #popup .card-content {
    width: 320px;
  }
  #popup .card-content h2 {
    margin-top: 20px;
    font-size: 1.15em;
  }
  #popup .card-content h3 {
    font-size: 0.9em;
  }
  #popup img {
    left: 36%;
    width: 200px;
    height: 220px;
    margin-top: 20px;
  }
  #popup .form input {
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
  }
  #popup .form button {
    margin-top: 10px;
    height: 40px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  #popup .card-content a.close {
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    border-radius: 30px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background: none;
    color: #111;
  }
  .copy-right p {
    font-size: 13px;
  }
}
/* style button buy and profile */
#buttton {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#buttton .buy1 .div a {
  width: 160px;
  padding: 15px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
#buttton .profile a {
  padding: 10px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
/* end style button buy and profile */
/* style stok */
.stok {
  margin-top: 10px;
}
/* style modal buy */
.buy1 #popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 999;
}
#popup .card-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 20px;
  background: #eee;
  border-radius: 10px;
}
#popup .card-content h2 {
  margin-top: 10px;
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1em;
}
#popup .card-content h3 {
  font-size: 1em;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.05em;
  text-align: center;
}
#popup img {
  position: relative;
  left: 27%;
  width: 170px;
  height: 170px;
  margin-top: 15px;
}
#popup .form {
  text-align: center;
}
#popup .form label {
  display: block;
}
#popup .form input {
  margin-top: 8px;
  border-radius: 5px;
  height: 40px;
  max-width: 90px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
}
#popup .form .min,
#popup .form .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: 0;
}
#popup .form .buy {
  margin-top: 10px;
  height: 40px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 114, 54, 255);
  color: #fff;
}
#popup .card-content a.close {
  position: absolute;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background: none;
  color: #111;
}
#popup p {
  text-align: center;
  color: #111;
  margin-top: 8px;
}
a.disable {
  pointer-events: none;
  cursor: default;
}
/* end style modal buy */
#circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 350px;
  background-color: #5d9b59;
  border-top-left-radius: 30px;
  z-index: 1;
}
.copy-right {
  position: absolute;
  left: 0;
  bottom: -150px;
  display: flex;
  z-index: 2;
  color: #eee;
}
.copy-right p {
  font-style: italic;
  letter-spacing: 0.03em;
}
.panah {
  font-size: 2.5em;
  font-weight: 600;
  padding: 0 10px;
  animation: animateMen 3s ease-in-out infinite;
}
@keyframes animateMen {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@media (max-width: 420px) {
  section {
    padding: 20px;
    padding-bottom: 130px;
    min-height: 100vh;
  }
  header {
    padding: 20px;
    gap: 6px;
    justify-content: center;
  }
  header .logo {
    max-width: 50px;
  }
  header h2 {
    font-size: 1.05em;
  }
  .content {
    flex-direction: column;
    margin-top: 60px;
  }
  .content .textBox {
    position: relative;
    min-width: 100%;
    padding-right: 20px;
  }
  .content .textBox h2 {
    font-size: 1.3em;
  }
  .content .textBox p {
    font-size: 12px;
  }
  .content .textBox a {
    padding: 8px 10px;
  }
  .content .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 40px;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 210px;
  }
  .stok {
    margin-top: 5px;
  }
  .thumb {
    position: absolute;
    left: 50%;
    bottom: -65px;
  }
  .thumb li {
    margin: 0 8px;
  }
  .thumb li p {
    font-weight: 500;
    font-size: 0.5em;
    letter-spacing: 0.05em;
  }
  .thumb li:hover {
    transform: translateY(-12px) translateX(8px);
  }
  #buttton {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  #buttton .buy1 .div a {
    padding: 9px 10px;
    font-size: 0.5em;
  }
  #buttton .profile a {
    padding: 5px 10px;
    font-size: 0.5em;
  }
  .profile a img {
    border-radius: 20px;
    width: 20px;
    height: 20px;
  }
  #card .card-content {
    width: 270px;
  }
  #card .card-content h2 {
    margin-top: 30px;
    font-size: 1.05em;
  }
  #card .card-content h2 span {
    font-size: 0.5em;
  }
  .imgBx {
    left: 15%;
    width: 160px;
    height: 160px;
    margin-top: 15px;
  }
  .imgBx img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 140px;
  }
  #card .card-content h3 {
    font-size: 1em;
  }
  .profile #card a.close {
    width: 40px;
    font-size: 18px;
    height: 30px;
  }
  .profile #card button a {
    left: 115%;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 0.8em;
  }
  #popup .card-content {
    width: 270px;
  }
  #popup .card-content h2 {
    margin-top: 30px;
    font-size: 1.05em;
  }
  #popup .card-content h3 {
    font-size: 0.6em;
  }
  #popup img {
    left: 15%;
    width: 160px;
    height: 140px;
    margin-top: 20px;
  }
  #popup .form label {
    font-size: 12px;
  }
  #popup .form input {
    margin-top: 10px;
    border-radius: 5px;
    height: 30;
    width: 90px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
  }
  #popup .form button {
    margin-top: 10px;
    height: 40px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  #popup .card-content a.close {
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    border-radius: 30px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background: none;
    color: #111;
  }
  .copy-right {
    bottom: -100px;
  }
  .copy-right p {
    font-size: 13px;
  }
  #popup .form .buy {
    height: 35px;
    font-size: 12px;
  }
  #circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 310px;
    height: 300px;
    background-color: #5d9b59;
    border-top-left-radius: 30px;
    z-index: 1;
  }
}
@media (max-width: 300px) {
  #buttton {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
  }
  .panah {
    visibility: hidden;
  }
}
